<footer class="footer">
    <div class="container py-2">
        <div class="logo">
            <img routerLink="/" src="assets/img/logo.svg" alt="Dub+" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Logo" />
        </div>
        <ul class="menu">
            <li>
                <a routerLink="/features" routerLinkActive="active" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Features">
                    Features
                </a>
            </li>
            <li>
                <a routerLink="/download" routerLinkActive="active" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Download">
                    Download
                </a>
            </li>
            <li>
                <a routerLink="/changelog" routerLinkActive="active" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Changelog">
                    Changelog
                </a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="About">
                    About
                </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Contact">
                    Contact
                </a>
            </li>
        </ul>
        <ul class="social">
            <li>
                <a href="https://facebook.com/DubPlusScript" target="_blank" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Facebook">
                    <i class="fa fa-2x fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/DubPlusScript" target="_blank" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Twitter">
                    <i class="fa fa-2x fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/r/DubPlus/" target="_blank" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Reddit">
                    <i class="fa fa-2x fa-reddit-alien"></i>
                </a>
            </li>
            <li>
                <a href="https://discord.gg/XUkG3Qy" target="_blank" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Discord">
                    <img src="assets/img/Discord-Logo-White.svg" />
                </a>
            </li>
            <li>
                <a href="https://github.com/DubPlus" target="_blank" angulartics2On="click"
                  angularticsEvent="FooterClick" angularticsCategory="Github">
                    <i class="fa fa-2x fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>
