@import "../../styles/variables";

footer {
  color: white;
  background: $mixed;
  width: 100%;

  .logo,
  ul {
    display: inline-block;
  }

  .logo img {
    cursor: pointer;
    width: 49px;
  }

  ul.menu {
    flex: 1 1;
    -webkit-box-flex: 1 1;
    -webkit-flex: 1 1;
    -moz-flex: 1 1;
    -ms-flex: 1 1;
    padding: 0 40px;

    li {
      list-style: none;
      display: inline-block;
      padding: 0 15px;
      font-size: 1em;
      text-transform: uppercase;

      a {
        color: rgba(255,255,255,.5);

        &.active {
          color: white;
        }
      }
    }
  }

  ul.social {
    padding-left: 0;

    @media only screen and (min-width : map-get($grid-breakpoints, 'md')) {
        padding-left: 40px;
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 0 1em;

      a {
        color: white;
        transition: all 0.3s ease-out 0s;
        display: block;
        opacity: 0.5;

        &:hover {
          opacity: 0.8;
        }

        i {
          position: relative;
          top: 5px;
        }

        img {
          width: 28px;
        }
      }
    }
  }

}
