<div class="download-list row">
  <div class="download-list-item col-lg-4">
    <span class="fa-stack fa-5x">
      <i class="fa fa-circle fa-stack-2x color-pink"></i>
      <i class="fa fa-firefox fa-inverse fa-stack-1x"></i>
    </span>
    <h2>Firefox</h2>
    <p>Install directly from the Mozilla Addons Library!</p>
    <p>
        <button class="btn btn-secondary" (click)="downloadService.installFirefox()"
          target="_blank" role="button" angulartics2On="click"
          angularticsEvent="Download" angularticsCategory="Firefox"
          [angularticsProperties]="{label: 'DownloadPage'}">
            Install Firefox Addon
        </button>
    </p>
    <small class="text-muted">
        <a href="https://addons.mozilla.org/en-US/firefox/addon/dubplus/" target="_blank"
          angulartics2On="click" angularticsEvent="VisitStore" angularticsCategory="Firefox"
          [angularticsProperties]="{label: 'DownloadPage'}">
            Visit our Firefox Addon Page
        </a>
    </small>
  </div>
  <!-- /.col-lg-4 -->
  <div class="download-list-item col-lg-4">
    <span class="fa-stack fa-5x">
      <i class="fa fa-circle fa-stack-2x color-cyan"></i>
      <i class="fa fa-chrome fa-inverse fa-stack-1x"></i>
    </span>
    <h2>Chrome</h2>
    <p>Install to load Dub+ automatically on Dubtrack using Chrome</p>
    <p>
        <button class="btn btn-secondary" [disabled]="downloadService.chromeIsInstalled" (click)="downloadService.installChrome()" target="_blank" role="button"
          angulartics2On="click" angularticsEvent="Download" angularticsCategory="Chrome"
          [angularticsProperties]="{label: 'DownloadPage'}">
            {{!downloadService.chromeIsInstalled ? 'Install Chrome Extension' : 'Chrome Extension Installed!'}}
        </button>
    </p>
    <small class="text-muted">
        <a href="https://chrome.google.com/webstore/detail/dubplus/ebpdoingcodjhfhmecjjfnhohhmcfnlc" target="_blank"
          angulartics2On="click" angularticsEvent="VisitStore" angularticsCategory="Chrome"
          [angularticsProperties]="{label: 'DownloadPage'}">
            Visit our Chrome Webstore Page
        </a>
    </small>
  </div>
  <!-- /.col-lg-4 -->
  <div class="download-list-item col-lg-4">
    <span class="fa-stack fa-5x">
      <i class="fa fa-circle fa-stack-2x color-pink"></i>
      <i class="fa fa-user-circle fa-inverse fa-stack-1x"></i>
    </span>
    <h2>Userscript</h2>
    <p>Simply click the link and install it through your preferred userscript extension</p>
    <p>
        <button class="btn btn-secondary" target="_blank" href="https://gist.github.com/coryshaw1/c1c2e7aa00a0039d1057b8e2cda85e7b/raw/9c9646ff273682370cc3e3285199295d48161cdf/dubplus.user.js"
          role="button" angulartics2On="click" angularticsEvent="Download" angularticsCategory="Chrome"
          [angularticsProperties]="{label: 'DownloadPage'}">
            Install Userscript
        </button>
    </p>
    <small class="text-muted">This requires a userscript extension like <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiUt9vmpKrSAhXLSCYKHcHPBA8QFggcMAA&url=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Ftampermonkey%2Fdhdgffkkebhmkfjojejmpbldmpobfkfo%3Fhl%3Den&usg=AFQjCNH4m9IkKXa8qEs7FQV7Fiv08bFjLA" target="_blank">Tampermonkey for Chrome</a> or <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=5&cad=rja&uact=8&ved=0ahUKEwiUt9vmpKrSAhXLSCYKHcHPBA8QFgg3MAQ&url=https%3A%2F%2Faddons.mozilla.org%2Fen-US%2Ffirefox%2Faddon%2Fgreasemonkey%2F&usg=AFQjCNFSNcJkvg7X1Ip12Eo9sGqXx7SLQA" target="_blank">Greasemonkey for Firefox</a></small>
  </div>
  <!-- /.col-lg-4 -->
</div>
