<div class="row">
  <div class="col-lg-4">
    <span class="fa-stack fa-5x">
      <i class="fa fa-circle fa-stack-2x color-pink"></i>
      <i class="fa fa-firefox fa-inverse fa-stack-1x"></i>
    </span>
    <h2>Firefox</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id
      elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    <p><a class="btn btn-secondary" href="#" role="button">Install Firefox Addon</a></p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <span class="fa-stack fa-5x">
      <i class="fa fa-circle fa-stack-2x color-cyan"></i>
      <i class="fa fa-chrome fa-inverse fa-stack-1x"></i>
    </span>
    <h2>Chrome</h2>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur
      purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-secondary" href="#" role="button">Install Chrome Extension</a></p>
  </div>
  <!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <span class="fa-stack fa-5x">
      <i class="fa fa-circle fa-stack-2x color-pink"></i>
      <i class="fa fa-user-circle fa-inverse fa-stack-1x"></i>
    </span>
    <h2>Userscript</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
      semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
      risus.</p>
    <p><a class="btn btn-secondary" href="https://gist.github.com/coryshaw1/c1c2e7aa00a0039d1057b8e2cda85e7b/raw/9c9646ff273682370cc3e3285199295d48161cdf/dubplus.user.js" target="_blank" role="button">Install Userscript</a></p>
  </div>
  <!-- /.col-lg-4 -->
</div>
