<p>Best way to contact us is through all of our social networks:</p>

<div class="row">
  <div class="col-12 col-sm-6">
    <a class="btn btn-block btn-social btn-facebook" href="https://facebook.com/DubPlusScript"
      target="_blank" angulartics2On="click" angularticsEvent="ContactClick" angularticsCategory="Facebook">
      <span class="fa fa-facebook"></span> Post to our Facebook
    </a>
    <a class="btn btn-block btn-social btn-twitter" href="https://twitter.com/DubPlusScript"
      target="_blank" angulartics2On="click" angularticsEvent="ContactClick" angularticsCategory="Twitter">
      <span class="fa fa-twitter"></span> Tweet at us
    </a>
    <a class="btn btn-block btn-social btn-reddit" href="https://www.reddit.com/r/DubPlus/"
      target="_blank" angulartics2On="click" angularticsEvent="ContactClick" angularticsCategory="Reddit">
      <span class="fa fa-reddit-alien"></span> Submit a post to our subreddit
    </a>
    <a class="btn btn-block btn-social btn-discord" href="https://discord.gg/XUkG3Qy"
      target="_blank" angulartics2On="click" angularticsEvent="ContactClick" angularticsCategory="Discord">
      <span><img src="assets/img/Discord-Logo-White.svg"></span> Join our discord
    </a>
    <a class="btn btn-block btn-social btn-github" href="https://github.com/DubPlus"
      target="_blank" angulartics2On="click" angularticsEvent="ContactClick" angularticsCategory="Github">
      <span class="fa fa-github"></span> Submit an issue or pull request
    </a>
    <a class="btn btn-block btn-social btn-email" href="mailto:support@dub.plus"
      angulartics2On="click" angularticsEvent="ContactClick" angularticsCategory="Email">
      <span class="fa fa-envelope"></span> Email us at support@dub.plus
    </a>
  </div>
</div>
