/* You can add global styles to this file, and also import other style files */

@import "./styles/variables";
@import "./styles/font";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: $mixed;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@media (max-width: 767px) {
  html {
    font-size: 11px
  }
}

.container {
  width: 100%;
}

.color-cyan {
  color: $cyan;
}
.color-mixed {
  color: $mixed;
}
.color-pink {
  color: $pink;
}

.btn-cyan,
.btn-mixed,
.btn-pink {
  color: white;
  border-color: white;

  &:active {
    color: white;
  }
}

.btn-cyan {
  background-color: $cyan;

  &:hover {
    border-color: $cyan;
    background-color: white;
    color: $cyan;
  }
}
.btn-mixed {
  background-color: $mixed;

  &:hover {
    border-color: $mixed;
    background-color: white;
    color: $mixed;
  }
}
.btn-pink {
  background-color: $pink;

  &:hover {
    border-color: $pink;
    background-color: white;
    color: $pink;
  }
}
