/* You can add global styles to this file, and also import other style files */

@import "./styles/variables";
@import "./styles/font";

body {
  overflow-x: hidden;
  color: $mixed;
  min-height: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

@media (max-width: 767px) {
  html {
    font-size: 11px
  }
}

.wrap {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex
}

body {
  background-color: #543085;
  text-align: center
}

.container {
  width: 100%;
}