<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Dub+ for Dubtrack.fm</h1>
    <p class="lead text-muted">Dub+, also referred to as DubPlus, is Dubtrack.fm's #1 extension and script to enhance your Dubtrack experience!</p>
    <p class="call-to-actions">
      <button (click)="downloadService.installUserscript()"
        target="_blank" class="m-1 btn btn-lg btn-cyan" angulartics2On="click"
        angularticsEvent="Download" angularticsCategory="Userscript"
        [angularticsProperties]="{label: 'HomePage'}">
          Userscript
      </button>
      <a href="javascript:(function(){$.getScript('https://rawgit.com/DubPlus/DubPlus/master/dubplus.min.js');})();"
        class="m-1 btn btn-lg btn-pink" angulartics2On="click"
        angularticsEvent="Download" angularticsCategory="Bookmark"
        [angularticsProperties]="{label: 'HomePage'}">
          Dub+
      </a>
      <button (click)="downloadService.installChrome()"
        target="_blank" class="m-1 btn btn-lg btn-cyan" angulartics2On="click"
        angularticsEvent="Download" angularticsCategory="Chrome"
        [angularticsProperties]="{label: 'HomePage'}">
          Chrome
      </button>
      <button (click)="downloadService.installFirefox()"
        target="_blank" class="m-1 btn btn-lg btn-pink" angulartics2On="click"
        angularticsEvent="Download" angularticsCategory="Firefox"
        [angularticsProperties]="{label: 'HomePage'}">
        Firefox
      </button>
    </p>
    <p class="directions">
      Just drag the Dub+ button to your bookmarks bar, visit any room on Dubtrack.fm, and click your newly created bookmark!
    </p>
  </div>
</section>

<div class="home-list">
  <div class="row home-list-item">
    <div class="text-center col-12 col-sm-3">
      <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x color-pink"></i>
        <i class="fa fa-gears fa-inverse fa-stack-1x"></i>
      </span>
    </div>
    <div class="home-list-item-text col-12 pull-sm-2 col-sm-6">
      <h2>Customize Your Experience</h2>
      <p>Our easy-to-use menu will help you enjoy your Dubtrack.fm experience more than ever! There are plenty of <a routerLink="/features">features</a> to help make Dubtrack even better!</p>
    </div>
  </div>

  <div class="row home-list-item home-list-item-right">
    <div class="text-center col-12 col-sm-3 push-sm-9">
      <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x color-pink"></i>
        <i class="fa fa-toggle-on fa-inverse fa-stack-1x"></i>
      </span>
    </div>
    <div class="home-list-item-text col-12 col-sm-6 pull-sm-1">
      <h2>Integrated Menu</h2>
      <p>Our customization menu is non-obtrusive, and integrates seamlessly into Dubtrack without obstructing your experience. Easy to access and easy to hide.</p>
    </div>
  </div>

  <div class="row home-list-item">
    <div class="text-center col-12 col-sm-3">
      <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x color-pink"></i>
        <i class="fa fa-music fa-inverse fa-stack-1x"></i>
      </span>
    </div>
    <div class="home-list-item-text col-12 pull-sm-2 col-sm-6">
      <h2>Please the Crowd</h2>
      <p>Use our script to keep you notified on when you're DJing next. Get notifications and messages about how well the room is enjoying your songs, so that you can keep queuing songs that will keep the party going!</p>
    </div>
  </div>
</div>
